<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Exchange Rates</title>
</head>
<body>
    <h1>Exchange Rates For The Top Ten Most Traded Currencies</h1>
    <h2>Rates Last Updated: <%= locals.data.time_last_update_utc %> </h2>
    <table>
        <tr>
            <th>Most Common Place(s) of Utilization</th>
            <th>ISO 4217 Code</th>
            <th>Exchange Rate With USD</th>
        </tr>
    <% for (let i = 0; i < locals.arrayTopTen.length; i++) { %>
        <tr>
            <td> <%= locals.arrayTopTen[i].place %> </td>
            <td> <%= locals.arrayTopTen[i].name %> </td>
            <td> <%= locals.arrayTopTen[i].rate %> </td>
        </tr> 
    <% } %>
    </table>
    <div id="compare-div">
        <h2><label for="cars">Compare Two Currencies</label></h2>
        <form id="compare-form" action="/compare/" method="POST">
            <input type="number" id="compare-amount" name="compare-amount">
            <select id="compare-1" name="compare-1">
                <% for (let i = 0; i < locals.arrayTopTen.length; i++) { %>
                    <option value="<%=i%>"> <%= locals.arrayTopTen[i].name %> </option>
                <% } %>
            </select>
            <h2>→</h2>
            <select id="compare-2" name="compare-2">
                <% for (let i = 0; i < locals.arrayTopTen.length; i++) { %>
                    <option value="<%=i%>"> <%= locals.arrayTopTen[i].name %> </option>
                <% } %>
            </select>
            <button type="submit" id="compare-button">Compare</button>
        </form>
        <% if (locals.compareArray[0]) { %>
            <h1> 
                <%= locals.compareArray[0] %> <%= locals.compareArray[2] %>
                is equal to 
                <%= locals.compareArray[1].toFixed(2) %> <%= locals.compareArray[3] %> </h1>
        <% } %>
    </div>
    <footer id="footer">
        <h2>Made by Victory Ma</h2>
        <button id="show-all-btn">Show All Rates</button>
    </footer>
    <table id="table-of-all">
        <tr>
            <th>Most Common Place(s) of Utilization</th>
            <th>ISO 4217 Code</th>
            <th>Exchange Rate With USD</th>
        </tr>
    <% for (let i = 0; i < locals.arrayOfAll.length; i++) { %>
        <tr>
            <td> <%= locals.arrayOfAll[i].country %> </td>
            <td> <%= locals.arrayOfAll[i].currencyCode %> </td>
            <td> <%= locals.arrayOfAll[i].rate %> </td>
        </tr> 
    <% } %>
    </table>
    <button onclick="scrollToTopFunction()" id="scroll-to-top">Scroll To Top</button>
    <script>

        // show all rates button
        document.getElementById('show-all-btn').addEventListener('click', function() {
          let tableOfAll = document.getElementById('table-of-all');
          if (tableOfAll.style.display !== 'block') {
            tableOfAll.style.display = 'block';
            window.scroll(0, 700);
          } else {
            window.scroll(0, 0);
            tableOfAll.style.display = 'none';
          }
        });

        // scroll to top button
        let scrollToTop = document.getElementById("scroll-to-top");
        window.onscroll = function() { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
                scrollToTop.style.display = "block";
            } else {
                scrollToTop.style.display = "none";
            }
        }

        function scrollToTopFunction() {
            document.body.scrollTop = 0; // safari
            document.documentElement.scrollTop = 0; // chrome, firefox, internet explorer, and opera
        }

    </script>
</body>
</html>